<footer class="site-footer">
  <div class="container footer-inner">
    <p>&copy; 2025 BitCurrents</p>
    <div>
      <p><a href="#">Privacy</a> <a href="#">Terms</a></p>
    </div>
  </div>
  <script src="/assets/js/theme.js" defer></script>
</footer>